body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 230px;
    padding: 1%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
    border-bottom: 5px solid #4d4d4d;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {
    list-style: none;
}

aside ul li {
    display: block;
    margin-top: 15px;
    color: #fff;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    transform: scale(1.05);
    color: #eb5959;
    text-decoration: none;
}

.home_img {
    float: right;
    padding: -20px 20px;
    width: 50%;
    height: 50%;
}

.skills_img {
    height: 300px;
    width: 300px;
}

.footer {
  background: #181818;
  margin: 35px 0 0 0;
  text-align: right;
  padding: 30px 0 15px 0;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border-top: 5px solid #4d4d4d;
}

h2, h3 {
    color: #fff;
}