{% extends 'main/layout.html' %}
{% load static %}
{% block title %} Востребованность {% endblock %}
{% block content %}
    <h3 style="text-align: center">Данные о вакансиях</h3>
    <div style="padding: 20px 10% 20px 10%">
        <img style="padding: 0 0 0 20px;" width="500px" height="380px" src="{{ infopage.graph_left.url }}"/>
    </div>
    <div style="">
        <img style="padding: 10px; position: relative; left: 530px; top: -410px;" width="500px" height="400px" src="{{ infopage.graph_right.url }}"/>
    </div>
    <div style="text-align: center; top: -50px;">
             {{ infopage.text|safe }}
    </div>
{% endblock %}